.modal-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
}

.modal-content {
    background-color: var(--card-dark);
    padding: 1.5rem;
    width: 50%;
    max-width: 400px;
    height: 50%;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    border: 1px solid #333;
}

.modal-title {
    text-align: center;
    font-size: 1.7rem;
    margin-bottom: 3rem;
}

.form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.7rem;
}

.form-label {
    font-size: 1.1rem;
    text-align: center;
}

.form-input {
    width: 60%;
    padding: 0.4rem;
    border-radius: 4px;
    border: 1px solid #555;
    background-color: #2a2a2a;
    color: var(--text-white);
    text-align: center;
}


.form-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 9rem;
}

.cancel-button {
    padding: 0.5rem 1.5rem;
    border-radius: 7px;
    border: none;
    background-color: #ff4d4d;
    font-weight: 600;
    font-size: 0.8rem;
    cursor: pointer;
    color: var(--text-white);
    transition: background-color 0.3s ease;
}

.cancel-button:hover {
    background-color: #bb1f1f;
    box-shadow: 0 0 5px #d25050;
}