@keyframes slideDownFade {
    from {
        opacity: 0;
        transform: translateY(-10px);
        /* Start slightly higher */
    }

    to {
        opacity: 1;
        transform: translateY(0);
        /* End in natural position */
    }
}


.modal-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
}

.modal-content {
    background-color: var(--card-dark);
    padding: 1.5rem;
    width: 50%;
    max-width: 400px;
    max-height: 90vh;
    overflow-y: auto;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    border: 1px solid #333;
}

.modal-title {
    text-align: center;
    font-size: 1.7rem;
    margin-bottom: 3rem;
}

.form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.7rem;
}

.form-label {
    font-size: 0.8rem;
    font-weight: 600;
    text-align: center;
}

.form-input {
    width: 50%;
    padding: 0.4rem;
    border-radius: 4px;
    border: 1px solid #555;
    background-color: #2a2a2a;
    color: var(--text-white);
    text-align: center;

    box-sizing: border-box;
    line-height: normal;
}

.form-input.error {
    border: 2px solid #ff4d4d;
    background-color: #3a1a1a;
}


.form-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}

button {
    padding: 0.5rem 1.5rem;
    border-radius: 7px;
    border: none;
    font-weight: 600;
    font-size: 0.8rem;
    cursor: pointer;
    color: var(--text-white);
    transition: background-color 0.3s ease;
}

.cancel-button {
    background-color: #ff4d4d;
}

.cancel-button:hover {
    background-color: #bb1f1f;
    box-shadow: 0 0 5px #d25050;
}

.submit-button {
    background-color: var(--light-green);
}

.submit-button:hover {
    background-color: var(--neon-green);
    box-shadow: 0 0 5px var(--neon-green);
}

select.form-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.dropdown-cycle {
    background-color: #2a2a2a;
    color: var(--text-white);
}


.date-disclaimer {
    font-size: 0.6rem;
    color: var(--text-light);
    margin-top: 2rem;
    margin-bottom: 0.3rem;
}

.date-error-message {
    border: #d25050 1px solid;
    font-size: 0.6rem;
    color: #ff4d4d;
    margin-top: -1.55rem;
    margin-bottom: 1rem;
    margin-left: 12.5rem;
    text-align: center;
    animation: slideDownFade 0.3s ease-in-out forwards;
}

.date-picker-container {
    width: 50%;
}

.date-picker-wrapper {
    width: 100%;
}

.date-picker-wrapper .react-datepicker__input-container {
    width: 100%;
}

.date-picker-wrapper input {
    width: 100% !important;
}

.react-datepicker__month-container {
    background-color: var(--card-dark)
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
    color: var(--text-white) !important;
}

.react-datepicker__header {
    background-color: var(--card-dark) !important;
}

.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker-year-header {
    color: var(--text-white) !important;
}

.react-datepicker__year-read-view,
.react-datepicker__month-read-view,
.react-datepicker__month-year-read-view {
    color: var(--text-white) !important;
    background-color: var(--card-dark) !important;
}

.react-datepicker__navigation-icon::before,
.react-datepicker__year-read-view--down-arrow,
.react-datepicker__month-read-view--down-arrow,
.react-datepicker__month-year-read-view--down-arrow {
    border-color: var(--light-green) !important;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range {
    background-color: var(--neon-green) !important;
    color: var(--text-dark) !important;
}

.react-datepicker__day,
.react-datepicker__month-text,
.react-datepicker__quarter-text,
.react-datepicker__year-text {
    &:hover {
        background-color: var(--light-green) !important;
        color: var(--text-dark) !important;
    }
}

.react-datepicker__day--keyboard-selected,
.react-datepicker__month-text--keyboard-selected,
.react-datepicker__quarter-text--keyboard-selected,
.react-datepicker__year-text--keyboard-selected {
    background-color: var(--light-green) !important;
    color: var(--text-dark) !important;
}


.react-datepicker__year-dropdown--scrollable,
.react-datepicker__month-dropdown--scrollable,
.react-datepicker__month-year-dropdown--scrollable {
    background-color: var(--card-dark) !important;
    color: var(--text-white) !important;
}


.react-datepicker__year-option:hover {
    background-color: #333 !important;
    color: var(--light-green) !important;
    font-weight: bold;
}