.features-section-wrapper {
  padding: 20px 0 60px 0;
}

.section-heading {
  font-size: 2rem;
  color: #fff;
  text-align: center;
  margin-bottom: 40px;
}

.features-container {
  display: flex;
  justify-content: center;
  max-width: 100%;
  gap: 100px;
  margin: 0 auto;
}
