input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

select.form-input {
    /* Keep your existing rules */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    /* ADD THIS to force the selected text to the center */
    text-align: center;
    text-align-last: center; /* Vital for Chrome/Safari */
}


.sub-list-card {
    background-color: var(--card-dark);
    border-radius: 15px;
    padding: 2rem;
    flex: 2;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.card-title {
    font-size: 1.7rem;
    margin-bottom: 1.5rem;
    font-size: 1.25rem;
}

.add-subscription-button {
    background-color: var(--light-green);
    color: var(--text-white);
    border: none;
    padding: 0.3rem 0.6rem;
    border-radius: 7px;
    cursor: pointer;
    font-size: 1rem;
    transition: ease 0.3s;
}

.add-subscription-button:hover {
    box-shadow: 0 0 7px var(--neon-green);
    margin-bottom: -0.2rem;
}

.sub-table {
    width: 100%;
    border-collapse: collapse;
    color: var(--text-white);
}

.sub-table th {
    text-align: left;
    padding-bottom: 1rem;
    font-weight: 600;
    border-bottom: 1px solid #333;
}

.renDate-cell {
    padding-left: 4rem;
}

.table-row {
    height: 60px;
    border-bottom: #333 1px solid;
}

.service-cell {
    font-weight: 520;
} 


.status-badge {
    display: inline-block;
    min-width: 80px;
    border-radius: 8px;
    text-align: center;
    padding: 0.25rem 0.75rem;
    font-size: 0.9rem;
    font-weight: 600;
}

.status-badge.active {
    background-color: var(--light-green);
}

.status-badge.expired {
    background-color: #ff4d4d;
}

.status-head {
    padding-left: 1.5rem;
}

.next-cell {
    padding-left: 0.5rem;
}

