.app-header {
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #16213e;
  width: 100%;
  z-index: 1000;
}

.app-header a {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
}

.app-header h1 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  margin-left: 2rem;
}

.app-header li {
  font-family: "Georgia", "Times New Roman", Times, serif;
  list-style: none;
}
